@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body{
    color:#003049;
    font-family: "Source Sans PRo", Tahoma, Geneva, Verdana, sans-serif ;
    padding: 40px;
    background-color: #eae2b7;
}
nav{
    padding:20px;
    margin: 20px;
    text-align: center;
}

nav span{
    margin: 0 10px;
}

h1,
h2,
h3{
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding:10px
}

a:link{
    color: #d62828;
}
a:active{
    color:#d62828
}
a:visited{
    color: #d62828;
}
a:hover,
a:focus{
    color:#f77f00;
}


article{
    padding: 20px 0;
}

article div{
    text-align: center;
    width: 100%
}

p{
    line-height: 1.5;
    text-align: justify;
}

div{
    margin: auto;
    width: 600px;
}

img{
    width: 100%;
    max-width: 200px;
    height: auto;
}

hr{
    border: 1px solid black;
}

.image-circle{
    border: 2px solid #003049;
    border-radius: 50%;
}



footer p{
    text-align: center;
}